.navbar-nav .nav-link {
    padding-right: 15px;
}

.nav-item .nav-link {
    color: #fff;
}

.header-pipe:after {
    content: '|';
    position: relative;
    left: 9px;
}

.form-inline {
    min-width: 250px;
    flex-flow: row nowrap;
    margin-right: -23px;
}

.form-inline .form-control {
    border-radius: 20px;
    height: 30px;
    width: 100%;
    padding: 0 32px 0 12px;
}

.btn-search {
    padding: 0 5px;
    border-radius: 50%;
    right: 27px;
    border: none;
}

.material-icons {
    top: 2px;
}

.header-icons svg {
    cursor: pointer;
    transition: .3s;
}

.rss-icon svg {
    position: relative;
    bottom: 2px;
    right: 2px;
}

.header-icons svg:hover {
    fill: #ee802f;
    transition: .3s;
}

.navbar-toggler {
    padding: 1px 3px;
    line-height: 0;
}

.navbar-toggler:focus {
    outline: 0;
}

.nav-item-custom {
    width: 100%;
    text-align: center;
    color: #fff;
}

.nav-item-custom .nav-link {
    transition: .3s;
}

.nav-item-custom .nav-link:hover {
    color: #ba2e1f;
    transition: .3s;
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 1;
        width: 100%;
        background: rgb(51, 51, 51);
    }

    .navbar-collapse:after {
        content: attr(div);
        height: 10px;
        width: 100%;
        background: linear-gradient(#333333, #fff);
        position: absolute;
        bottom: -20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
