.pre-footer-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pre-footer-links {
    display: block;
    color: #666666;
}

.pre-footer-list li{
    border-bottom: 1px solid #d4d4d4;
    padding: 2px 0;
}

.pre-footer-links:before {
    content: "»";
    padding-right: 5px;
    position: relative;
    top: -1px;
}

.pre-footer-links:hover {
    color: #666666;
    text-decoration: none;
}

.btn-pre-footer {
    font-size: 13px;
    color: #ba2e1f;
    background-color: #f2f2f2;
    border: none;
    padding: 6px 12px;
    transition: .5s;
}

.btn-pre-footer:hover {
    background-color: #787777;
    transition: .5s;
}

.pre-footer-form {
    background-color: #f2f2f2;
    border: none;
}
