body {
    font-family: Georgia, serif;
}

.bg-red {
    background-color: #ba2e1f;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #333333;
}

.bg-lighter-grey {
    background-color: #f2f2f2;
}

.bg-light-grey {
    background-color: #d4d4d4;
}

.bg-grey {
    background-color: #666666;
}

.color-white {
    color: #fff;
}

.color-light-grey {
    color: #919191;
}

.color-grey {
    color: #666666;
}

.color-red {
    color: #ba2e1f;
}

.f-size-10 {
    font-size: 10px;
}

.f-size-12 {
    font-size: 12px;
}

.f-size-13 {
    font-size: 13px;
}

.f-size-14 {
    font-size: 14px;
}

.f-size-16 {
    font-size: 16px;
}

.f-size-26 {
    font-size: 26px;
}

.f-size-36 {
    font-size: 36px;
}

.f-size-86 {
    font-size: 86px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.top-5 {
    top: 5px;
}

.left-10 {
    left: 10px;
}

.b-radius-5 {
    border-radius: 5px;
}

.border-1 {
    border: 1px solid #dfdfdf;
}

.border-top-1 {
    border-top: 1px solid #666666;
}

.height-1 {
    height: 1px;
}

.min-h-440 {
    min-height: 440px;
}

.min-h-140 {
    min-height: 140px;
}

.min-h-64 {
    min-height: 64px;
}

.min-w-64 {
    min-width: 64px;
}

.list-style-type-none {
    list-style: none;
}

.custom-link:after {
    content: "»";
    padding-left: 3px;
    position: relative;
    top: -0.1rem;
}

.custom-link:hover {
    text-decoration: none;
    color: #ba2e1f;
}

.d-contents {
    display: contents;
}

textarea{
    min-height: 70px;
}